//Variables

h1,
h2,
h3,
h4,
h5,
h6,
p,
address,
quote,
blockquote,
table,
td,
tr,
th,
thead,
tbody,
tfoot,
span {
	color: $default-text-color;
}

a {
	color: $default-link-color;

	&:visited,
	&:focus {
		color: $default-visited-color;
	}
}

table {
	th {
		color: $default-table-head-color;
	}
}